/*     font-family: 'DM Sans', sans-serif; font-family: 'Inter', sans-serif; 
 FFE492  043873   4F9CF9    212529


*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/* basic CSS */
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.7;
}

.theme-button{
display: inline-block;
background: #FFE492;
color: #043873 !important;
border-radius: 8px;
padding: 14px 22px !important;
}
.theme-button-one{
    display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 14px 38px !important;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}
.theme-button-one:hover{
    color: #ffffff;
}
.theme-button-all{
    display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 18px 38px !important;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}
.theme-button-all:hover{
    color: #ffffff;
}

.theme-button-p{
    display: inline-block;
    background: #ffffff;
    border: 1px solid #FFE492;
    border-radius: 8px;
    padding: 16px 24px !important;
    text-decoration: none;
    color: #212529;
}
.theme-button-p:hover{
    color: #212529;
}


.theme-button-one i{
    margin-left: 10px;
}

.theme-button-all i{
    margin-left: 10px;
}

.theme-text h3{
    font-size: 62px;
    color: #212529;
    margin-bottom: 15px;
}
.theme-text p{
    color: #212529;
}
.theme-text h3 span{
    position: relative;
    z-index: 1;
}
.theme-text h3 span::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 62px;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(images/element.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* header area css */
.header-area{
    background-color: #043873;
    padding: 16px 0;
}
.header-area .nav-link{
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-left: 24px;
    padding: 16px;
}
.header-area .theme-button{
    margin-left: 60px !important;
}
.header-area .theme-button-one{
    margin-left: 24px !important;
}
.header-area .navbar-toggler{
    border: none;
    box-shadow: none;
}


/* hero css */
.hero-area{
    background-image: url(images/hero-b.png);
    padding: 140px 0;
    background-size: cover;
    background-position: center;
}
.hero-text h3{
color: #ffffff;
font-weight: 700;
font-size: 52px;
letter-spacing: -0.02em;
}
.hero-text p{
color: #ffffff;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: -0.02em;
}
.hero-area .theme-button-one{
    margin-top: 30px;
}
  

/* management area css */
.management-area{
    background-color: #ffffff;
    padding: 140px 0;
}
.work-management{
    margin-top: 100px;
}
.work-management .theme-text h3 span::after{
    background-image: url(images/together-element.png);
    background-size: contain;
    background-position: bottom;
}

/* extension area css */
.extension-area{
    padding: 140px 0;
    background-color: #043873;
}
.extension-area .theme-text h3 span::after{
    background-image: url(images/extension-element.png);
    top: -10px;
    background-size: contain;
    background-position: bottom;
}
.extension-area .theme-text h3{
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em; 
    }
    .extension-area .theme-text p {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    }

    /* customised area css */
    
    .customise-area{
        padding: 140px 0;
        background-color: #ffffff;
    }
    .customise-area .theme-text h3 span::after{
        background-image: url(images/need-element.png);
        background-size: contain;
        background-position: bottom;
    }



    /* pricing area css */

    .pricing-area{
        padding: 140px 0;
        background-color: #ffffff;
    }
    .pricing-area .theme-text{
        margin-bottom: 60px;
    }
    .pricing-area .theme-text h3 span::after{
        background-image: url(images/plan-element.png);
        background-size: contain;
        background-position: bottom;
    }

    .single-pricing{
        color: #212529;
        border: 1px solid #FFE492;
        border-radius: 10px;
        padding: 40px 44px;
    }
    .single-pricing h4{
        font-size: 24px;
        font-weight: 500;
    }
    .single-pricing h2{
        font-size: 34px;
        font-weight: 700;
        margin: 25px 0;
    }
    .single-pricing ul{
        margin: 0;
        padding: 0;
        margin: 25px 0;
    }
    .single-pricing ul li{
        list-style: none;
        margin-bottom: 28px;
        display: flex;
        align-items: center;
    }
    .single-pricing ul li:last-child {
        margin: 0;
    }
    .single-pricing ul li img{
        padding-right: 15px;
    }
    .single-pricing img{
        height: 20px !important;
        width: 35px !important;
    
    }

    .special-pricing{
        background-color: #043873;
        color: #ffffff;
        padding: 80px 44px;
    }
    .special-pricing h2{
        color: #FFE492;
    }
    .pricing-area .owl-stage{
        display: flex;
        align-items: center;
    }
    .pricing-area .owl-dots{
        text-align: center;
    }
    .pricing-area .owl-dots button{
        height: 15px;
        width: 15px;
        background-color: #4f9cf9 !important;
        border-radius: 50%;
        margin: 0 5px;
    }
    .pricing-area .owl-dots button.active{
        background-color: #043873 !important;
    }


    /* your-work-area css */
    .your-work-area{
        padding: 140px 0;
        background-color: #043873;
    }
    .your-work-area .theme-text h3{
        color: #ffffff;
    }
    .your-work-area .theme-text p{
        color: #ffffff;
    }
    .your-work-area .theme-text h3 span::after{
        background-image: url(images/you-element.png);
        background-size: contain;
        background-position: bottom;
    }


    /* your task area css */
    .your-task-area{
        padding: 140px 0;
        background-color: #ffffff;
    }

    .your-task-area .theme-text h3 span::after{
        background-image: url(images/data-element.png);
        background-size: contain;
        background-position: bottom;
    }

    /* sponser-area css */


    .sponser-area{
        padding: 140px 0;
        background-color: #ffffff; 
    }
    .sponser-area .theme-text{
        margin-bottom: 80px;
        width: auto;
    }
    .sponser-area .theme-text h3 span::after{
        background-image: url(images/sponser-element.png);
        background-size: contain;
        background-position: bottom;
    }
    .single-sponser img{
        height: 55px;
    }


    /* apps area css */
    .apps-area{
        background-image: url(images/hero-b.png);
        padding: 140px 0;
        background-position: center;
        background-size: cover;
    }

    .apps-area .theme-text h3{
        color: #ffffff;
        font-weight: 700;
        font-size: 60px;
        letter-spacing: -0.02em;
        padding-bottom: 15px;
    }
    .apps-area .theme-text p{
        color: #ffffff;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.02em;
        padding-bottom: 50px;
    }


    /* testimonial-area css */

    .testimonial-area{
        padding: 140px 0;
        background-color: #ffffff;  
    }
    .testimonial-area .theme-text{
        margin-bottom: 50px;
    }

    .testimonial-area .theme-text h3 span::after{
        background-image: url(images/says-element.png);
        background-size: contain;
        background-position: bottom;
    }

    .single-testimonial{
        background: #4f9cf9;
        color: #ffffff;
        box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 50px 30px;
        transition: 0.3s;
    }
    .single-testimonial:hover{
        background-color: #ffffff;
        color: #212529;  
        cursor: pointer; 
    }

    .testimonial-text{
        border-bottom: 1px solid #ffffff;
    }
    .testimonial-text i{
        font-size: 60px;
    }
    
    .testimonial-text p{
        margin-bottom: 25px;
    }
    .testimonial-author{
        margin-top: 40px;
        display: flex;
    }
    .author-img{
        margin-right: 25px;
    }
    .author-text h3{
        font-size: 24px;
        color:#043873;
    }
    .author-text p{
        margin-bottom: 0;
    }
    .testimonial-area .owl-dots{
        text-align: center;
        margin-top: 50px;

    }

    .testimonial-area .owl-dots button{
        height: 15px;
        width: 15px;
        background-color: #4f9cf9 !important;
        border-radius: 50%;
        margin: 0 10px;

    }

    .testimonial-area .owl-dots button.active{
        background-color: #043873 !important;
    }


    /* trial area css */
    .trial-area{
        padding: 140px 0;
        background-color: #043873;
    }

    .trial-text h3 {
        font-size: 68px;
    }
    .trial-text p{
        font-size: 24px;
    }
    .trial-area .theme-button-all{
        margin: 20px 0;
    }
    .trial-img{
        margin-top: 40px;
    }
    .trial-img a{
        margin: 0 20px;
        text-decoration: none;
    }



    /* footer area css */
    .footer-area{
        background-color: #043873;
        border-top: 1px solid #2e4e73;
        padding-top: 140px;
    }
    .footer-top{
        padding-bottom: 60px;
    }
    .footer-about img{
        margin-bottom: 15px;
    }
    .footer-link h3{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .footer-link ul{
        margin: 0;
        padding: 0;
    }
    .footer-link ul li{
        list-style: none;
    }


    .footer-link a{
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
        transform: 0.3s;
        padding-bottom: 10px;
        display: inline-block;
    }

    .footer-link a:hover{
        color: #FFE492;
    }

    .footer-contact h3{
        font-size: 28px;
        margin-bottom: 15px;
    }

    .footer-bottom{
        border-top: 1px solid #2e4e73;
        padding: 32px 0;
    }
    .footer-lan a{
        text-decoration: none;
        color: #ffffff;
    }
    .footer-lan .dropdown-menu a{
        color: #212529;
    }
    .footer-lan i{
        margin-right: 10px;
    }

    .footer-social{
        text-align: right;
    }

    .footer-social a{
        text-decoration: none;
        color: #ffffff;
        display: inline-block;
        margin-left: 32px;
    }

    @media (max-width: 1399px) {
        .header-area{
            font-size: 16px;
        }
    }

    @media (max-width: 1199px) {
        .header-area{
            font-size: 14px;
        }
        .header-area .nav-link{
            padding: 5px 10px !important;
        }
    }


    @media (max-width: 991px) {
        /* basic css */
        .theme-button{
            width: 100%;
            text-align: center;
            margin-left: 0 !important;
            margin-top: 15px;
        }
        .theme-button-one{
            width: 100%;
            text-align: center;
            margin-left: 0 !important;
            margin-top: 15px;
        }
        .header-area{
            font-size: 18px;
        }

        /* header area css */
        .header-area .nav-link{
            padding: 14px 0 !important;
            margin-left: 0 !important;
        }
        .header-area .nav-link{
            position: relative;
        }
        .header-area .nav-link::after{
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
        }



         /* hero area css */
        .hero-area{
            padding: 80px 0;
        }
        .hero-text{
            text-align: center;
        }
        .hero-text h3   {
            font-size: 36px;
        }
        .hero-area .theme-button-all{
            margin-top: 60px;
            margin-bottom: 100px;
        }


         /* management area css */
        .management-area{
            padding: 80px 0;
        }
        .work-management{
            margin-top: 60px;
        }
        .theme-text {
            text-align: center;
        }
        .theme-text h3{
            font-size: 36px;
        }
        .management-area .theme-button-all{
            margin-bottom: 50px;
        }


         /* extension area css */
        .extension-area{
            padding: 80px 0;
        }
        
        .extension-area .theme-button-all{
            margin-bottom: 50px;
        }


        /* customise area css */
        .customise-area {
            padding: 80px 0;
        }
       
        /* pricing area css */
        .pricing-area {
            padding: 80px 0;
        }
        .single-pricing{
            margin-bottom: 30px;
        }
       
       
       /* your work css */
        .your-work-area {
            padding: 80px 0;
        }
      
      
      /* your task css */
        .your-task-area {
            padding: 80px 0;
        }
       
       
       /* sponser area css */
        .sponser-area {
            padding-top: 80px 0;
            padding-bottom: 30px;
        }
        .single-sponser{
            margin-bottom: 50px;
        }


        /* apps area css */
        .apps-area{
            padding: 80px 0;
        }
        .apps-image{
            margin-bottom: 80px;
        }
        .apps-area .theme-text h3{
            font-size: 36px;
            text-align: center;
        }
        .apps-area .theme-text p{
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            letter-spacing: -0.02em;
        }

        .apps-area .theme-button-all{
            margin-bottom: 50px;
        }
       
        .apps-area{
            padding: 80px 0;
        }


        /* trial area css */
        .trial-area{
            padding: 80px 0;
        } 
        .trial-text h3 {
            font-size: 36px;
        }
        .trial-text p{
            font-size: 18px;
        }
        .trial-img a{
            margin: 0;
            margin-right: 40px;
        } 
        
        
        /* footer area css */
        .footer-top{
            text-align: center;
        }
        .footer-about{
            margin-bottom: 40px;
        }
        .footer-link{
            margin: 40px 0;
        }
        .footer-link h3{
            margin-top: 60px;
        }
        .fotter-contact{
            margin-top: 40px;
        }
        .footer-bottom{
            border-top: none;
        }
        .footer-lan{
            text-align: center;
        }
        .footer-copyright{
            padding: 32px 0;
        }
        .footer-social{
            text-align: center;
            border-top: 1px solid #2e4e73;
            padding-top: 32px;
        }

        .footer-social a{
        margin: 0 16px;
        }

    }

